.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .flex_row_space {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .btn {
    margin-left: 30px;
  }

  .text {
    cursor: pointer;
    font-size: 18px;
    color: #9e9e9e;
  }

  .text:hover {
    color: var(--hoverColor);
  }
}
